@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #222222;

   * {
      margin: 0;
      padding: 0;
      color: #c2c2c2;
      font-family:
         Ubuntu,
         "Oxygen",
         "Roboto",
         "Cantarell",
         -apple-system,
         BlinkMacSystemFont,
         "Segoe UI",
         "Fira Sans",
         "Droid Sans",
         "Helvetica Neue",
         sans-serif;
   }

   ul,
   li {
      list-style: none;
      list-style-type: none;
      transition: 0.15s;
      &:hover {
         color: #f4f4f4;
      }
   }
}

button {
   font-weight: 500;
   cursor: pointer;
   color: #ffffff;
   border: none !important;
}

span {
   display: inline-block;
}

.max-width {
   width: 100%;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
}

.link-primary {
   @apply text-primary;
}

.icon-small {
   width: 48px;
   height: 48px;
}

.icon-medium {
   width: 68px;
   height: 68px;
}
