@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "~node_modules/@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #222222;

   * {
      margin: 0;
      padding: 0;
      color: #c2c2c2;
      font-family:
         Ubuntu,
         "Oxygen",
         "Roboto",
         "Cantarell",
         -apple-system,
         BlinkMacSystemFont,
         "Segoe UI",
         "Fira Sans",
         "Droid Sans",
         "Helvetica Neue",
         sans-serif;
   }

   ul,
   li {
      list-style: none;
      list-style-type: none;
      transition: 0.15s;
      &:hover {
         color: #f4f4f4;
      }
   }
}

button {
   font-weight: 500;
   cursor: pointer;
   color: #c2c2c2;

   &:hover {
      transition: 0.2s;
      background-color: #1f5c6d;
   }
}

button.active {
   background-color: #1f5c6d;
}

span {
   display: inline-block;
}

.max-width {
   width: 100%;
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
}

.link-primary {
   @apply text-primary;
}

.icon-small {
   width: 48px;
   height: 48px;
}

.icon-medium {
   width: 68px;
   height: 68px;
}

.ng-select.custom-select {
   .ng-dropdown-panel {
      background-color: #222222 !important;
      border-color: #ffffff33 !important;
      .ng-dropdown-panel-items .ng-option {
         background-color: #ffffff11 !important;
         font-size: 14px !important;
         padding: 6px 8px;
      }

      .scroll-host {
         &::-webkit-scrollbar {
            width: 4px;
         }
         &::-webkit-scrollbar-track {
            background-color: #444444 !important;
         }
         &::-webkit-scrollbar-thumb {
            background-color: #222222 !important;
         }
      }
   }

   .ng-select-container {
      background-color: #ffffff11;
      border-color: #ffffff11 !important;
   }

   .ng-clear-wrapper {
      width: 36px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         .ng-clear {
            opacity: 1;
            color: #ffffff;
         }
      }
      .ng-clear {
         font-size: 24px;
         opacity: 0.8;
      }
   }
}
