<div class="flex flex-col items-center">
   <p
      class="text-center text-3xl md:text-4xl max-w-[280px] md:max-w-full font-bold mt-[7vh] sm:mt-[10vh] md:mt-[15vh]"
   >
      RxJS Cache Service <span class="text-secondary-light">Live Demo</span>
   </p>

   <p class="text-center max-w-[600px] m-x-auto mt-20">
      Explore how the
      <a [href]="outerLinks.npm" target="_blank" class="link-primary">RxJS Cache Service</a>
      npm module operates in development mode. Simply open the cache devtool using the button in the
      bottom corner and navigate to the
      <a routerLink="/posts" class="link-primary">Posts</a>
      page to see it in action.
   </p>

   <p class="text-center mt-12">
      Check the
      <a [href]="outerLinks.githubReadMe" target="_blank" class="link-primary">Documentation</a>
      for more details.
   </p>
</div>
